.time{
	@include tile;
	padding: .8rem 1rem;
	min-width: 230px;
}
.hour, .min, .separator-clock{
	padding: 1rem 0 0 0;
	font-family: Comic Mono;
	font-weight: bold;
	font-size: 2.5em;
}
.separator-clock{
	margin-top: -3px;
}
.day{
	padding: .5rem;
	font-family: Comic Mono;
	font-size: 1.2em;
}
