.music-player{
	@include tile;
	padding: 0 1rem 1rem 1rem;
	min-width: 157px;
}
.album_art {
	background-size: cover;
	background-position: center;
	border-radius: 7px;
	margin: 1rem .5rem .8rem .5rem;
	padding: 5rem;
}

.artist {
	font-family: Cartograph CF;
	font-style: italic;
	font-weight: bold;
	color: $foreground;
	font-size : 1.2em;
}
.song{
	font-family: Cartograph CF;
	font-style: italic;
	font-size: 1.1em;
	color: $foreground;
	margin-top: -3px;
}
.btn_prev, .btn_play, .btn_next {
	font-family: JetBrainsMono Nerd Font;
	min-width: 27px;
	min-height: 27px;
	padding: 0;
}
.btn_prev {
	color: $foreground;
	font-size : 2.8em;
}
.btn_play {
	color: $foreground;
	font-size : 2.8em;
	font-weight : bold;
}
.btn_next {
	color: $foreground;
	font-size : 2.8em;
}
.metric-player  scale trough highlight {
	all: unset;
	border-radius: 6px;
	background-color: $foreground;
}
  
.metric-player scale trough  {
	all: unset;
	background-color: $background;
	border:1px solid $foreground;
	border-radius: 28px;
  }
  
.metric-player scale trough  {
	min-width: 112px;
	min-height: 6px;
	// margin: .5rem 1rem 0 1rem;
}