.profile{
	@include tile;
	padding: 2rem 1rem;
	min-width: 157px;
}
.pfp {
	background-image: url("assets/profile.png");
	background-repeat: no-repeat;
	background-size: 12rem;
	background-position: center;
	min-height: 90px;
	min-width: 90px;
	border-radius: 50%;
  }
  .pfptxt {
	margin-top: 17px;
	color: $foreground;
	font-family: Cartograph CF;
	font-style: italic;
	font-weight: bold;
	font-size: 14px;
  }
  .subpfptxt {
	color: $foreground;
	font-family: Comic Mono;
	margin-top: 6px;
	font-size: 13px;
  }