$background: rgba(26, 27, 38, 0.55);
$background-alt: rgba(22, 22, 30, 0.55);
$background-alt2: rgba(30, 32, 46, 0.55);
$foreground: #a9b1d6;
$red: #F7768E;
$yellow: #E0AF68;
$orange: #FF9E64;
$green: #9ECE6A;
$blue: #7AA2F7;
$blue2: #88AFFF;
$magenta: #BB9AF7;
$cyan: #73DACA;